@import "abstracts/_mixins";
@import "abstracts/_variables";

*{
  // border: 1px solid red;

}
body{
  margin:0;
  @include font;
}

.content{
  width: 95vw;
  margin: auto;
}

.slideshow{
  display: flex;
  width: 100%;
  height: 50vh;
  img{
    width: 100%;
  }
}

.ads{
  display: flex;
  width: 100%;
  margin: 20px 0;
  .ad1{
    width: 50%;
    margin-right: 10px;
    img{
      width: 100%;
    }
  }
  .ad2{
    width: 50%;
    margin-left: 10px;
    img{
      width: 100%;
    }
  }
}

.banner{
  background-color: black;
  color: white;
  text-align: center;
  height: 50%;
  padding: 20px 0;
}

.collections{
  width: 100%;
  margin-bottom: 20px;
  h1{
    text-align: center;
    border-bottom: 1px solid black;
  }
  .clothes{
    display: flex;
    width: 100%;
    img{
      width: 100%;
    }
    & div:nth-child(odd){
      margin-right: 20px;
    }
    & div:nth-child(2){
      margin-right: 20px;
    }
  }
}

.features{
  display: flex;
  width: 100%;
  margin: 20px 0;
  .shop{
    width: 50%;
    margin-right: 10px;
    img{
      width: 100%;
    }
  }
  .ourStory{
    width: 50%;
    margin-left: 10px;
    img{
      width: 100%;
    }
  }
}

.footer{
  background-color: black;
  color: white;
  height: 310px;
  padding: 36px 0 67px 0;
  .footerTop{
    display: flex;
    font-size: 90%;
    padding: 0 50px;
    .userInput{
      display: flex;
      flex-direction: column;
      width: 50%;
      .join{
        width: 100%;
        align-content: center;
        input{
          border: 0 solid transparent;
          margin-right: -4px;
          margin-bottom: 25px;
          height: 30px;
          width: 250px;
        }
        button{
          border: 0 solid transparent;
          height: 32px;
        }
      }
    }
    .contact{
      width: 25%;
      @include greenTag;
    }
    .care{
      width: 25%;
      @include greenTag;
    }
  }
  .footerBottom{
    display: flex;
    justify-content: center;
    font-size: 80%;
    padding: 80px;
    div{
      margin-left: 25px;
      @include greenTag;
    }
  }
}
