@mixin font($font-size: 14px) {
  font:{
    family: Arial, sans-serif;
  }
  size: $font-size;
}

@mixin greenTag($color: white){
  a{
    color: $color;
    text-decoration:none;
    &:hover{
      color:lighten( $myColor,10%);
    }

  }
}
